<!DOCTYPE html>
<html lang="de-CH">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  {{ with resources.Get "images/favicon.png" }}
  <link rel="icon" type="image/png" href="{{ .RelPermalink }}">
  {{ end }}
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  {{- block "head" . }}{{- end }}
</head>
<body>
  {{- partial "header.html" . -}}
  {{- block "main" . }}{{- end }}
  {{- partial "footer.html" . -}}
  <script src="{{ "js/main.js" | relURL }}"></script>
  {{- block "scripts" . }}{{- end }}
</body>
</html>
