<!DOCTYPE html>
<html lang="de-CH">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="view-transition" content="same-origin">
  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  {{ if .Params.noindex }}<meta name="robots" content="noindex, nofollow">{{ end }}
  {{ with resources.Get "images/favicon.png" }}
  <link rel="icon" type="image/png" href="{{ .RelPermalink }}">
  {{ end }}
  {{ with resources.Get "css/style.css" | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}
  {{- block "head" . }}{{- end }}
</head>
<body>
  {{- partial "header.html" . -}}
  {{- block "main" . }}{{- end }}
  {{- partial "footer.html" . -}}
  {{ with resources.Get "js/main.js" | fingerprint }}
  <script src="{{ .RelPermalink }}"></script>
  {{ end }}
  {{- block "scripts" . }}{{- end }}
</body>
</html>
