{{ define "main" }}
<div class="hero-heading">
  <h1>{{ .Title }}</h1>
</div>

<div class="hero-images">
  {{ range .Params.hero_images }}
    {{ with resources.Get . }}
  <div class="hero-image">
    <img src="{{ .RelPermalink }}" alt="Feuerwehr Schwerzenbach">
  </div>
    {{ end }}
  {{ end }}
  {{- if not .Params.hero_images }}
  {{ range (slice "images/hero/hero1.avif" "images/hero/hero2.avif" "images/hero/hero3.avif") }}
    {{ with resources.Get . }}
  <div class="hero-image">
    <img src="{{ .RelPermalink }}" alt="Feuerwehr Schwerzenbach">
  </div>
    {{ end }}
  {{ end }}
  {{- end }}
</div>

<div class="home-content">
  {{ .Content }}
</div>
{{ end }}
